In [14]:
import pandas as pd 
import numpy as np
VOCAB = pd.read_csv("OUTPUTS/VOCAB_AllSongs.csv")
TOKENS = pd.read_csv("OUTPUTS/TOKENS_AllSongs.csv")

In [12]:
# Add some more metadata to VOCAB; make term_str index, plus add a aterm_str column
VOCAB = VOCAB.set_index('term_str')
VOCAB['term'] = VOCAB.index

In [13]:
VOCAB.head()

            n         p  char_len term
term_str
you       282  0.035294         3  you
the       267  0.033417         3  the
I         180  0.022528         1    I
me        155  0.019399         2   me
to        146  0.018273         2   to

In [18]:
TOKENS.iloc[87:100]

    Line_id Song_id  Token_num token_str
87       17  Song 0          4   dukedom
88       19  Song 0          0       'So
89       19  Song 0          1       hey
90       19  Song 0          2      yeah
91       19  Song 0          3      yeah
92       19  Song 0          4     yeah'
93       20  Song 0          0     Yes-a
94       20  Song 0          1         I
95       20  Song 0          2        oh
96       20  Song 0          3       I'm
97       20  Song 0          4     gonna
98       20  Song 0          5      love
99       20  Song 0          6       you

In [ ]:
def token_to_padded(token, grouper=['Line_id'], term_str='token_str'):
    ohco = token.index.names # We preserve these since they get lost in the shuffle
    padded = token.groupby(grouper)\
        .apply(lambda x: '<s> ' + ' '.join(x[term_str]) + ' </s>')\
        .apply(lambda x: pd.Series(x.split()))\
        .stack().to_frame('term_str')
    #padded.index.names = ohco
    return padded

In [20]:
PADDED = token_to_padded(TOKENS, grouper='Line_id', term_str='token_str')

C:\Users\grozz\AppData\Local\Temp\ipykernel_23748\2419518511.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: '<s> ' + ' '.join(x[term_str]) + ' </s>')\

In [22]:
PADDED

          term_str
Line_id
1       0      <s>
        1    'Duke
        2     Duke
        3     Duke
        4     Duke
...            ...
898     3     that
        4     look
        5       at
        6    that)
        7     </s>

[9726 rows x 1 columns]

In [27]:
# NGRAM from Padded
ngram = 3
widx = [f"w{i}" for i in range(ngram)]

def padded_to_ngrams(padded, grouper=['Line_id'], n=2):
    
    ohco = padded.index.names
    ngrams = padded.groupby(grouper, group_keys=False)\
        .apply(lambda x: pd.concat([x.shift(0-i) for i in range(n)], axis=1))\
        .reset_index(drop=True)
    ngrams.index = padded.index
    ngrams.columns = widx
    
    return ngrams

In [28]:
NGRAMS = padded_to_ngrams(PADDED, 'Line_id', ngram)

In [29]:
NGRAMS

              w0     w1     w2
Line_id
1       0    <s>  'Duke   Duke
        1  'Duke   Duke   Duke
        2   Duke   Duke   Duke
        3   Duke   Duke     of
        4   Duke     of  Earl'
...          ...    ...    ...
898     3   that   look     at
        4   look     at  that)
        5     at  that)   </s>
        6  that)   </s>   None
        7   </s>   None   None

[9726 rows x 3 columns]

In [30]:
# Genrate Models

def ngrams_to_models(ngrams):
    global widx
    n = len(ngrams.columns)
    model = [None for i in range(n)]
    for i in range(n):
        if i == 0:
            model[i] = ngrams.value_counts('w0').to_frame('n')
            model[i]['p'] = model[i].n / model[i].n.sum()
            model[i]['i'] = np.log2(1/model[i].p)
        else:
            model[i] = ngrams.value_counts(widx[:i+1]).to_frame('n')    
            model[i]['cp'] = model[i].n / model[i-1].n
            model[i]['i'] = np.log2(1/model[i].cp)
        model[i] = model[i].sort_index()
    return model

In [31]:
M = ngrams_to_models(NGRAMS)

In [36]:
M[2][100:125]

                                n   cp    i
w0          w1      w2
'Doing      what    you         1  1.0  0.0
'Dont       ease    the         1  1.0  0.0
'Du         du      du          2  1.0  0.0
'Duke       Duke    Duke        8  1.0  0.0
'Ethel      you     shameless'  1  1.0  0.0
'Even       white   boys        2  1.0  0.0
'Everywhere you     go          2  1.0  0.0
'Flashed    her     right       1  1.0  0.0
'Freddie    Jackson everything  1  1.0  0.0
'From       the     Chi         1  0.5  1.0
                    day         1  0.5  1.0
            you     name        1  1.0  0.0
'Fulfilling our     every       1  1.0  0.0
'Gal        free    up          1  1.0  0.0
'Get        on      the         2  1.0  0.0
'Girl       in      the         2  1.0  0.0
            its     all         4  1.0  0.0
            just    come        2  1.0  0.0
            why     you         2  1.0  0.0
            you     need        2  1.0  0.0
'Good       love    and         2  1.0  0.0
'Got        a       dark        1  1.0  0.0
            you     looking     1  1.0  0.0
'Guess      you     could       1  1.0  0.0
'Ha         ha      only        2  1.0  0.0

In [33]:
# Generate Sentences Using Our Bigram Model based on the probabilities of words in sequence

def generate_text(M, n=250):
    
    if len(M) < 3:
        raise ValueError("Must have trigram model generated.")
    
    # Start list of words
    first_word = M[1].loc['<s>'].sample(weights='cp').index[0]
    
    words = ['<s>', first_word]
    
    for i in range(n):
        
        bg = tuple(words[-2:])

        # Try trigram model
        try:
            next_word = M[2].loc[bg].sample(weights='cp').index[0]

        # If not found in model, back off ...
        except KeyError as e1:
            try:
                # Get the last word in the bigram
                ug = bg[1]
                next_word = M[1].loc[ug].sample(weights='cp').index[0]
            
            except KeyError as e2:
                next_word = M[0].sample(weights='p').index[0]
                
        words.append(next_word)
    
    
    text = ' '.join(words[2:])
    print('\n\n'.join([str(i+1) + ' ' + line.replace('<s>','')\
        .strip().upper() for i, line in enumerate(text.split('</s>'))]))

In [38]:
generate_text(M, n=1000)

1 ITS ALL GOOD GIRL TURN ME ON

2

3

4 LIKE MICHAEL JACKSON' 'GOT A DARK SKINNED FRIEND LOOK LIKE MICHAEL JACKSON' 'GOT A DARK SKINNED FRIEND LOOK LIKE MICHAEL JACKSON' I PLAYED 'READY FOR THE WORLD LIKE I'M THE ONLY ONE WHO UNDERSTANDS

5 AT ME

6 STOP AND STARE'

7 GO DON'T STOP COME ON)

8 SAID SHE WANT SOME READY FOR THE WORLD SOME NEW EDITION SOME MINNIE RIPERTON WILL DEFINITELY SET THIS PARTY OFF RIGHT

9 THAT THINK'

10 YOU WANT AND NEED'

11 FOR IT' THEN I'MA MAKE YOU FEEL LIKE I'M THE ONLY ONE THAT YOU'LL EVER LOVE LIKE I'M THE ONLY ONE WHO KNOWS YOUR HEART

12 WALKING ON THE CORNER

13 BUMP

14 MAMI'

15 BE MY MAIN SQUEEZE'

16

17 (ARE YOU GONNA BE ARE YOU GONNA BE ARE YOU GONNA BE ARE YOU GONNA BE ARE YOU GONNA BE ARE YOU GONNA BE ARE YOU GONNA BE ARE YOU GONNA BE?

18 TO STOP PLEASIN ME (STOP TEASIN ME I WANT TO SEE '

19 YOU CAN'T GO?

20 VENGO MAMA CHOLA MAMA CHOLA'

21 BABY

22 WORTH

23 TURN AROUND

24 CLUB THEM WANT FLEX WITH US

25 I WON'T CUSS OR HIT YA 'BUT I GOTTA BE STRAIGHT WHEN I SAY I WANNA MOAN ' 'TILL THE BREAK OF DAWN' BABY GOT IT GOIN' LIKE A POOL STICK'

26 LET ME LOVE YOU

27 PLAYER'

28 (BACK TO YOU)

29 THE ONLY ONE WHO UNDERSTANDS THOSE RAP GUYS?' ' SCOFF ' SHE LOOKS LIKE ONE OF THOSE RAP GUYS' GIRLFRIENDS. 'BUT YOU KNOW WHO UNDERSTANDS

30 GOT BACK!

31 MY GOD.' 'BECKY LOOK AT THAT LOOK AT THAT LOOK AT THAT LOOK AT THAT)'

32 A DIME PLUS NINETY-NINE AND IT'S A SHAME

33 IT MISS THING! GIVE ME A SISTER I CAN'T STOP STARING 'OH BABY I DON'T KNOW MMM-MMM

34 ALL LIES

35 'MAN I SWEAR I WILL'

36 YOU IT'S WHATEVER GIRL HEY!

37 ON NOTHING BUT HIS PF'S.

38 BE' 'SIPPING HENNESSY' 'PLAY SOME R&B' 'WHILE I SMOKE A B' YOU CAN HUNNI'

39 DU'

40 MISS JODI YUR DI ONE AND REBECCA SHAKE THAT THING'

41 BABY I JUST CAN'T HELP MYSELF I'M ACTIN' LIKE AN ANIMAL NOW HERE'S MY SCANDAL 'I WANNA TELL YOU NUTTIN

42 HURTS

43 AND LET ME SEE THAT SEXY BODY GO (BAD BOY)'

44 'ST. BARTHS ANGUILLA ANYWHERE I CHILL'

45 'GAL A CALL ME NAME AND ITS ME FAME'

46 WHO KNOWS YOUR HEART

47 MICHAEL JACKSON' 'GOT A DARK SKINNED FRIEND LOOK LIKE MICHAEL JACKSON' 'GOT A DARK SKINNED FRIEND LOOK LIKE MICHAEL JACKSON' 'GOT A DARK SKINNED FRIEND LOOK LIKE MICHAEL JACKSON' I PLAYED 'READY FOR THE WORLD SOME NEW EDITION SOME MINNIE RIPERTON WILL DEFINITELY SET THIS PARTY OFF RIGHT

48 'ETHELLLLLLL!!'

49 DIDDY)'

50 THING MAMI'

51 LOSE THAT BUTT 'SOME BROTHERS WANNA PLAY THAT HARD ROLE' AND TELL YOU SOMETHING)'

52 GONNA BE) OOH OOH OOH OOOH 'ARE YOU GONNA BE ARE YOU GONNA BE?

53

54 GENTS TURN UP YOUR SOUND SYSTEMS TO THE MUSIC'

55 ME LOVE YOU LOVE YOU'

56 SHOWS

57 YOU GO THEY STOP AND STARE'

58 IT!)' 'SHAKE IT!' '(SHAKE IT!)' 'SHAKE IT!' '(SHAKE IT!)' 'SHAKE IT!' '(SHAKE IT!)' 'SHAKE IT!' '(SHAKE IT!)' 'SHAKE THAT THING YAN DONNA DONNA'

59 BY CARLOS SANTANA AND THE JETS'

60 'CAN ANYTHING YOU WANT AND NEED'

61 BREAK BREAK

62 TALKIN' TO THE SOUNDS OF THE CHEAP SEATS DRIBBLING RIGHT DOWN THE MIDDLE OF THE COURT.'

63 NEXT TO US

64

65

66 WAY LOVE'S SUPPOSED TO BE

67 FROM THE BACK OF HER HONDA MY ANACONDA DON'T WANT NONE UNLESS YOU'VE GOT BUNS HUN 'YOU CAN DO SIDE BENDS OR SIT-UPS ' BUT PLEASE DON'T LOSE THAT BUTT YOU GOT MAKES ME SO HORNY' OOH RUMP-O'-SMOOTH-SKIN 'YOU SAY YOU WANNA CHANGE YOUR SCENE'

68

69 WEARING I'M HOOKED AND I CAN NOT LIE' YOU OTHER BROTHERS CAN'T DENY

70

71 OF THE CHEAP SEATS DRIBBLING RIGHT DOWN THE MIDDLE BUT SHE GOT MUCH BACK)'

72 ONE WHO KNOWS YOUR HEART

73 ON TIL A EARLY MORNING

74 SHE WANT SOME READY FOR THE WORLD

75 'JUST HAVE A GOOD TIME'

76

77 RICE DIDN'T MISS HER 'SOME KNUCKLEHEAD TRIED TO DISS' 'CAUSE HIS GIRLS ARE ON MY OWN (DANCING ON MY CANNABIS 'WHEN IT COME TO THE MELODY AND RODE IT SLOW NOW I GOTTA GO UP IN SPANISH HARLEM

78 'WOULD THAT MAKE YOU WANNA CHANGE YOUR SCENE'

79 MMMM ..... MMMMM.... YEAH....MMMMM....YEAH YEAH YEAH

80 FIRE'

81

82

83 WELL BABY IT'S OBVIOUS THAT I AIN'T GON' TRY

84

85

86 THIS PARTY OFF RIGHT

87 THAT LOOK AT THAT LOOK AT THAT)'

88 ME WANNA STAND LIKE A MAN' 'ONLY GIRL IN THE JEANS SHE'S WEARING I'M HOOKED AND I CAN'T RESIST HER RED BEANS AND RICE DIDN'T MISS HER 'SOME KNUCKLEHEAD TRIED TO DISS' 'CAUSE HIS GIRLS ARE ON MY OWN)

89 AT THAT)

90 'SO WE GET OUR GRIND ON' 'SHE BE GRABBING CALLING ME BIGGIE LIKE SHYNE HOME' 'MAN I SWEAR SHE FINE HOMES' 'WHY SHE ALWAYS LYING THOUGH' 'TELLING ME THEM DIAMONDS WHEN SHE DANCE TO THE SOUND OF CARLOS SANTANA

91 YOU EVERYTHING YOU WANT AND NEED

92 HOOKED AND I CAN TAKE YOUR PANTS OFF I'M GONNA LOVE YOU LOVE YOU

93 O TALK TO YOU FOR A RIDE RIDE

94 'DONT EASE THE TENSION JUST RUN THE PROGRAM GALS WAN PET IT'

95 REPRESENTS MY HEART

96 'MAKE ME YOUR SELECTION

97 RHYTHM LIKE MARVIN AND LUTHER' I CAN TAKE IT

98 GIRL (BABY)'

99 'AHORA VENGO MAMA CHOLA MAMA CHOLA'

100 A LITTLE ANITA WILL DEFINITELY SET THIS PARTY OFF RIGHT

101 YOU ALL OVER YOUR BODY BABY DON'T SAY NO TO ME AND EVERY MOMENT YOU CONTROLLIN' ME I'M LOVING THE WAY LOVE'S SUPPOSED TO BE MY LOVE

102 NEED'

103 THAT

104 BENDS OR SIT-UPS ' BUT PLEASE DON'T